letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

>> letters = 'python'

In [13]:
letters = 'python'
print(letters[1-1],letters[3-1])

p t

자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.(슬라이싱)
>> license_plate = "24가 2210"

In [14]:
license_plate = "24가 2210"
print(license_plate[-4:])
print(license_plate[:-4])

2210
24가

아래의 문자열에서 '홀' 만 출력하세요.
>> string = "홀짝홀짝홀짝"

In [17]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

문자열을 거꾸로 뒤집어 출력하세요.
>> string = "PYTHON"

In [24]:
string = "PYTHON"
print(string[::-1])

NOHTYP

아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
>> phone_number = "010-1111-2222"

In [26]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

In [27]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
>> url = "http://sharebook.kr"

In [28]:
url = "http://sharebook.kr"
print(url[-2:])

kr

In [29]:
url = "http://sharebook.kr"
url_split = url.split(".")
print(url_split[-1])

kr

아래 코드의 실행 결과를 예상해보세요.
>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)
문자열은 수정할 수 없습니다. 실행 결과를 확인해보면 문자열이 할당(assignment) 메서드를 지원하지 않음을 알 수 있습니다.

In [33]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
>> string = 'abcdfe2a354a32a'

In [35]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

아래 코드의 실행 결과를 예상해보세요.
>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)

In [36]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd