아래 코드의 실행 결과를 예상해보세요.
>> a = "3"
>> b = "4"
>> print(a + b)
문자열이니까34로 출력

In [1]:
a = "3"
b = "4"
print(a + b)

34

아래 코드의 실행 결과를 예상해보세요.
>> print("Hi" * 3)

In [3]:
print("Hi" * 3)

HiHiHi

화면에 '-'를 80개 출력하세요.
--------------------------------------------------------------------------------

In [4]:
a="-"
print(a*80)

--------------------------------------------------------------------------------

변수에 다음과 같은 문자열이 바인딩되어 있습니다.
>>> t1 = 'python'
>>> t2 = 'java'
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
python java python java python java python java

In [16]:
t1 = 'python'
t2 = 'java'
print((t1+" "+t2+" ")*4)

python java python java python java python java

In [17]:
t1 = "python"
t2 = "java"
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [26]:
name="이름: "
age="나이: "
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("%s%s %s%d"%(name,name1,age,age1))

print("%s%s %s%d"%(name,name2,age,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.
format()

In [27]:
name="이름: "
age="나이: "
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("{}{} {}{}".format(name,name1,age,age1))
print("{}{} {}{}".format(name,name2,age,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [28]:
name = "이름: "
age = "나이: "
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"{name}{name1} {age}{age1}")
print(f"{name}{name2} {age}{age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"

In [30]:
상장주식수 = "5,969,782,550"
상장주식수 = 상장주식수.replace(",","")
print(int(상장주식수))

5969782550

In [31]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

다음과 같은 문자열에서 '2020/03'만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"

In [34]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
data = "   삼성전자    "

In [35]:
data = "   삼성전자    "
data = data.replace(" ","")
print(data)

삼성전자

In [ ]:
data = "   삼성전자    "
data1 = data.strip()
print(data1)