2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

순위	영화
1	닥터 스트레인지
2	스플릿
3	럭키

In [45]:
movie_rank = ("닥터스트레인지","스플릿","럭키")

숫자 1 이 저장된 튜플을 생성하라.

num=(1,)
type(num)

다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.
>> t = (1, 2, 3)
>> t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

In [46]:
t = (1, 2, 3)
t[0] = 'a'
#tuple은 원소(element)의 값을 변경할 수 없습니다.

TypeError: 'tuple' object does not support item assignment

아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?
t = 1, 2, 3, 4

In [47]:
#편의상 괄호뺴도됨

변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

In [48]:
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
print(t)
#튜플은 수정이 불가능하므로 새로정의를 해야한다.

('A', 'b', 'c')

다음 튜플을 리스트로 변환하라.
interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [49]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = ['삼성전자','LG전자','SK Hynix']
print(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [50]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
print(data)

['삼성전자', 'LG전자', 'SK Hynix']

In [51]:
print(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [52]:
다음 리스트를 튜플로 변경하라.
interest = ['삼성전자', 'LG전자', 'SK Hynix']

SyntaxError: invalid syntax (<ipython-input-52-4c0f745a93bd>, line 1)

In [53]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest = tuple(interest)
print(interest)

('삼성전자', 'LG전자', 'SK Hynix')

다음 코드의 실행 결과를 예상하라.
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

In [54]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.
(2, 4, 6, 8 ... 98)

In [55]:
data = tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [56]:
data = tuple(range(1,100,2))
print(data)

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99)